.fundo {
    background-color: var(--cor-fundo);
}

:root {
    --cor-fundo: #001064;
}

.minha-secao {
    background-image: url(../paginas/img/tecjobs.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    min-height: 680px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.minha-secao .conteudo {
    margin: 0 auto;

}

.minha-secao button {
    font-size: 2em;
    padding: 20px 40px;
}

.navbar-brand {
    font-size: 50px !important;
    margin: 0;
    padding: 0;
    padding-top: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    color: var(--bs-navbar-brand-color);
    text-decoration: none;
    margin-right: var(--bs-navbar-brand-margin-end);
    font-weight: bold;
}

.navbar-brand img {
    width: 6%;
    vertical-align: baseline;
}

.navbar-nav a {
    font-weight: bold;
}

.logo {
    width: 6%;
    vertical-align: baseline;
}

.footer-container {
    display: flex;
    flex-direction: row;
}

.footer-container>div {
    flex: 1;
    width: 250px;
    margin: 0 10px;
}

.footer-container h2,
.footer-container h5 {
    text-align: left;
}


.menu a {
    text-decoration: none;
    color: black;
}

.footer-container h4 {
    text-align: left;
    font-size: 12px;
    margin: 15px;
}

.footer-container .sobre {
    padding: 60px;
    padding-top: 0;
}

.footer-container .sobre img {
    width: 30px;
    vertical-align: baseline;
}

.debug {
    background-color: red;
}

.min-height-300 {
    min-height: 600px;
}

.pec {
    width: 20px;
    height: 20px;
}

.carrossel-img {
    width: 900px;
    height: 600px;
    object-fit: cover;
}

.menu1 {
    text-align: left;
}

.menu1 h1 {
    font-size: 25px;
    color: black;
    margin: 10px 0 0 310px;
}

.menu1 h4 {
    font-size: 18px;
    color: black;
    margin: 10px 0 0 310px;
}

.menu2 {
    margin: 40px 0 0 200px;
}

.menu2 p {
    font-size: 18px;
}

.empresa {
    background-color: grey;
    width: 75px;
    height: 75px;
    color: white;
    text-align: center;
    border-radius: 5px;
    margin: 50px 0 0 200px;
}

.publi {
    color: rgb(56, 56, 56);
    margin: -110px 0 0 200px;
}

.menu2 {
    text-align: left;
}

.menu3 {
    border-radius: 5px;
    border: 1px solid #A1A1A1;
    width: 250px;
    height: 150px;
    margin: -495px 0px 0px 900px;
}

.menu3 h1 {
    margin: 15px 10px 7px 30px;
    color: black;
    border-bottom: 1px solid #A1A1A1;
    border-bottom-width: 1px;
}

.menu3 h4 {
    margin: 15px 10px 7px 30px;
    color: black;
}

.menu3 button {
    margin: 60px 30px 5px 30px;
    padding: 10px 50px;
    font-size: 12px;
    background-color: red;
    color: white;
    border: 0px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.568);
}

.menu3 button:hover {
    background-color: rgb(109, 18, 18);
    transition: 0.5;
}


span {
    border: 10px;
    border-top: 1px solid #001064;
    display: flex;
    position: center;
    height: 500px;
}

span p {
    margin: 10px 0 0 200px;
}

section a {
    text-decoration: none;
    color: white;
}

section a:hover {
    background-color: #020c3f;
    transition: 1s;
}